<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="homeLat" [longitude]="homeLng">
  <agm-marker *ngFor="let event of events" [latitude]="event.venue.lat" [longitude]="event.venue.lon">
    <agm-info-window>
      <strong>{{event.name}}</strong>
      <p>{{event.venue.address_1}}, {{event.venue.city}}, {{event.venue.country}} {{event.venue.zip}}</p>
    </agm-info-window>
    <!-- This feels really hacky since I've nested one marker inside of another one (that's currently being looped, so a new home marker is constantly being created.. I believe
    The home marker also works if I play it outside of the market but on top of the looped market, it's just that the box appears off to the side. When the home market is placed
    below the looped marker, the window doesn't open.-->
    <agm-marker [latitude]="homeLat" [longitude]="homeLng" label="H">
      <agm-info-window>
        Home, Fix This
      </agm-info-window>
    </agm-marker>

  </agm-marker>
</agm-map>

<!--No styling for lists, add address, maybe a pipe to order from closest to least, option for date, etc.-->
<!--Maybe add distance from where you currently live-->
<p>This is your home location: {{homeLat}}, {{homeLng}}</p>
<ul class="list-unstyled">
  <li *ngFor="let event of events">
    <strong>{{event.name}}</strong>
    <br />
    {{event.venue.address_1}}, {{event.venue.city}}, {{event.venue.country}} {{event.venue.zip}}
    <br />Distance: 
    {{getDistance(
      {
        "lat":homeLat,
        "lng":homeLng
        },
      {
        "lat":event.venue.lat,
        "lng":event.venue.lon
      }
    )}}
    Miles
    <br />
    {{event.description}}
    <br /><br />
  </li>
</ul>

