<h2>Japanese</h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>

<ul>
  <li>Kodansha's Kanji Learner's Course</li>
  <li>Anki 2k/6k Core Deck</li>
</ul>
<a href="#">Notes</a>

<br /><br />

<h2>Vietnamese</h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
</div>

<ul>
  <li>Learning Vietnamese w/ Annie</li>
  <li>Watching Media</li>
</ul>
<a href="#">Notes</a>

<br /><br />

<h2>French</h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
</div>

<ul>
  <li>Interactive Texas Textbook</li>
</ul>
<a href="#">Notes</a>

<br /><br />

<h2>Edit Languages</h2>
<form>
  <div class="form-group">
    <label for="exampleSelect1">Language</label>
    <select class="form-control" id="exampleSelect1">
      <option>Japanese</option>
      <option>Vietnamese</option>
      <option>French</option>
    </select>
  </div>
  <strong>Live Edit</strong>

  <br /><br />

  <h2>Vietnamese</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
  </div>

  <ul>
    <li>Learning Vietnamese w/ Annie</li>
    <li>Watching Media</li>
  </ul>
  <a href="#">Notes</a>

  <br /><br />
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>