<h1>About</h1>
<p>
  Language Buddy was created for two specific purposes.
</p>
<ol>
  <li>Display a map of all the nearby meetups in my location for the languages I am currently studying.</li>
  <li>Serve as a place where I write my current study methods for these languages, and post relevant links.</li>
</ol>

<h2>To Do</h2>
<ul>
  <strong>Map</strong>
  <li><s>Meetup API - return nearby events of groups that I am in</s></li>
  <li><s>Google Maps - using coordinates from Meetup API, create markers</s></li>
  <li>Google Maps - POST current location and application regenerate markers</li>
  <li>Google Maps - Upon clicking a marker provide some sort of directions(?)</li>
</ul>
<ul>
  <strong>Resources</strong>
  <li>Setup database to store the language information</li>
  <li>GET /languages</li>
  <li>GET /languages/:language</li>
  <li>POST: Live edit data</li>
</ul>